/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 760px */
@media (min-width: 760px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/*@media (min-width: 850px) {
    .go100 .columns{width: 100%;}
}*/

/* Base Styles
-------------------------------------------------------- */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
background-color: #ffffff;
  font-size: 16px; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /*font-family:Arial;*/
  font-family:Arial;
  color: #8a8d94; }


/* Typography
-------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    color: #414141;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; }
h1 { font-size: 24px; line-height: 1.2;  letter-spacing: -.1rem; font-weight: bold;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 21px; line-height: 1.3;  letter-spacing: -.1rem; font-weight: bold;}
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  /*h1 { font-size: 30px; font-weight: bold;}*/
  h2 { font-size: 4.2rem; }
  /*h3 { font-size: 2.6rem; }*/
  h4 { font-size: 2.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
-------------------------------------------------------- */
a {color: #4d519c;text-decoration: none;}
a:hover {text-decoration: none;}


/* Buttons
-------------------------------------------------------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
    padding: 5px 15px;
    background: #e8dc22;
    color: #414141;
    border: 4px solid #4d519c;
    cursor: pointer}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background: #4d519c;
    color: #fff; }

/* Forms
-------------------------------------------------------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  width: 100%;
    }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
-------------------------------------------------------- */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
-------------------------------------------------------- */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
-------------------------------------------------------- */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
-------------------------------------------------------- */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 15px; }


/* Utilities
-------------------------------------------------------- */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
-------------------------------------------------------- */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
-------------------------------------------------------- */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


.imagescontainer{
  position: relative;
    min-height:220px;
  width: 332px;
  /*margin: 15px auto 0;*/
   margin: 0 auto;

} 

.cell_imagescontainer{
  position: relative;
    min-height:500px;
  margin-left: 20%;
  width: 243px;
    margin:0 auto;
}

.macbgimg{
  position: absolute;
    width: 338px;
}

.macfrontimg
{
  clip: rect(0px, 314px, 142px, 0px);
    left: 42px;
    max-width: 251px;
    position: absolute;
    top: 12px;
}

.cellphonebgimg{
  height: 495px;
  position: absolute;
}

.cellphonefrontimg {
    max-width: 222px;
    position: absolute;
    left: 10px;
    top: 47px;
    clip: rect(5px,227px,430px,0px);
}


.gauge-skelt{
    background: #414141 none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #ddd;
    padding: 1px;
}

.jvectormap-region {
  stroke: #b9b9b9;
  stroke-width: 1;
}

#OpenLayers_Map_2_OpenLayers_ViewPort{
    width: auto !important;
}
.olControlAttribution {
    right: 10px!important;
    bottom: 10px!important;
    background: rgb(242, 239, 233);
    border-radius: 4px;
    padding: 4px;
}
div.olMap{
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}

#mapdiv{
    box-shadow: 4px 4px 8px #ddd;
    height: 200px;
    border: 1px solid #fff;
}


/*-------------NEW CSS---------------*/


header{
    background: #4d519c;
    padding-bottom: 10px;
}
header h2{
    color: #fff;
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family:Arial;
}
header h2 img{
    float: left;
    margin-right: 15px;
    height: 35px;
}
header p{
    margin: 24px 0;
}
header a{
    color: #e8dc22;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    border: 2px solid #3c4081;
    margin-left: -5px;
    margin-top: 25px;
}
header a:hover{
    background: #e8dc22;
    color: #3c4081;
}
.right-align{text-align: right}
.well{
    background: url(../img/sliderimg.jpg)#4d519c;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    text-align: center;
    padding: 150px 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    
}
.well h3{
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 30px;
    font-family:Arial;
}
.well input{
    max-width: 400px;
    text-align: center;
    background: #fff;
    color: #333;
    box-shadow: 2px 2px 4px #1b236b;
    border: 5px solid #e8dc22;
    height: 60px;
}
.well2{
    background: #f2f2f2;
    text-align: center;
    padding: 50px 15px 33px;
    
}
.well2 input{
    max-width: 400px;
    text-align: center;
    background: #fff;
    color: #333;
    box-shadow: 2px 2px 4px #ccc;
    border: 5px solid #4d519c;
    height: 40px;
}
.gap-tb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.side-info{
    margin: 0;padding: 0;
}
.side-info li{
    list-style: none;
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 0;
    margin-bottom: 0;
}
.side-info li:last-child{
    border-bottom: none;
}
.side-info li img{
    float: left;
    width: 20%;
    margin-right: 5%;
}
.side-info li p{
    float: left;
    width: 75%;
    margin: 0;
    font-size: 15px;
}
.side-info li p span{
    display: block;
    font-weight: bold;
    font-family:Arial;
    color: #414141;
    font-size: 15px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}
.side-info li:after{
    display: table;content: '';clear: both;
}
.app-info{
    margin-top: 15px;
}
.head-a{
    font-family:Arial;
    font-size: 36px;
    display: block;
}
.head-b{
    font-family:Arial;
    font-size: 30px;
    display: block;
}
.head-c{
    font-family:Arial;
    font-size: 28px;
    display: block;
}
.head-d{
    font-family:Arial;
    font-size: 22px;
    display: block;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 15px;
}
.app-info h3{
    font-family:Arial;
    font-size: 30px;
}
.well-gray{
    background: #f6f6f6;
}
.well-fa{
    background: #fafafa;
}
.clr-d{
    color: #414141;
}
.clr-w{
    color: #fff;
}
.clr-p{
    color: #4d519c;
}
.clr-s{
    color: #e8dc22;
}
.app-letts a{
    display: block;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 5px solid transparent;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.app-letts a:hover{
    border: 5px solid #e8dc22;
    color: #4d519c;
}
.app-links a{
    display: block;
    float: left;
    margin: 5px 1%;
    border-bottom: 1px solid #dddddd;
    text-transform: capitalize;
    padding: 5px 0;
}
.app-links a:hover{
    border-bottom: 1px solid #e8dc22;
}
footer{
    background: #4a4a4a;
    color: #bebebe
}
footer a{
    display: block;
}
footer a:hover{
    color: #e8dc22;
}
.letter-conts{
    background: #fafafa;
    border: 1px solid #f2f2f2;
    /*box-shadow: 2px 2px 4px #ccc;*/
    padding: 25px 15px;
}
.bb{font-weight: bold;}
.ltrbx{color: #4d519c;font-size: 30px;text-transform: uppercase}
.letter-doms{
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin-top: 15px;*/
    border-top: 1px solid #ccc;
}
.letter-doms ul{
    margin: 0;padding: 0
}
.letter-doms ul li{
    list-style: none;
}
.btn-s{
    background: #e8dc22;
    padding: 5px 10px;
    display: block;
    width: 20px;
    margin-top: 5px;
    text-align: center;
}
.btn-s:hover{
    background: #4d519c;
}
.list-numbering{
    margin: 15px 0;
    border-top: 1px solid #e8dc22;
    padding-top: 15px;
}
.list-numbering a{
    display: inline-block;
    margin: 5px;
}
.side-white{
    background: #f2f2f2;
    padding: 20px;
    box-shadow: 0 0 10px #eee;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.whoi-thumb{
    background: #f2f2f2;
    padding: 20px;
    box-shadow: 0 0 10px #eee;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}
.whoi-thumb p{
    padding: 50px 0;
}
.whoi-thumb img{
    max-width: 100%;
}
.pad-top-conts{
    /*padding-top: 52px;*/
}
.nom{margin: 0;}
.gauge-who{
    background: #f5f5f5;
    margin-top: 15px;
}
.whois-detailed{
    padding: 30px;
    background: #4d519c;
    color: #fff;
    margin-bottom: 20px;
    border: 2px solid #4d519c;
    border-radius: 5px;
}
.border-block{
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid #4d519c;
    border-radius: 5px;
}
.wd-lst div{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.wd-lst span{
    display: block;
    text-transform: capitalize;
}
.min112{/*min-height: 112px;*/}
.useful-options{
    margin-bottom: 20px;
    border: 2px solid #e8dc22;
    border-radius: 5px;
}
.pad25{
    padding: 15px;
}
.ut-y{
    background: #e8dc22;
    color: #fff;
}
.useful-options p{
     padding-top: 10px;
}
.useful-options pre{
    background: #d2c71d;
    padding: 0 10px;
    color: #fff;
}
table th{
    font-family:Arial;
    color: #414141;
}
table td img{
    float: left;
    margin-right: 15px;
    height: 22px;
    border: 2px solid #4d519c;
}
.alert{
    padding: 25px;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 5px 0 5px 0;
    color: #000;
}
.alert-warning{
    background: #ea9346;
}
.alert-success{
    background: #43c77e;
}
.alert br{
    margin: 7px 0;
}
.alert ul{
    margin: 15px 0;padding: 0;
}
.alert ul li{
    padding: 10px;
    padding-left: 20px;
}
.bdr-h{
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}
.simdo a{
    display: block;
    padding: 15px;
    background: #fafafa;
    margin-bottom: 15px;
    color: #414141;
    border-right: 4px solid #e8dc22;
    font-size: 15px;
}
.simdo a span{
    display: block;
    margin-bottom: 10px;
    color: #4d519c;
    font-size: 18px;
    font-family:Arial;
    text-transform: capitalize;
    font-weight: bold;
}
.simdo a:hover{
    border-right: 4px solid #4d519c;
}
.simdo a b{
    text-transform: capitalize;
}
.misspellings{
    margin: 0;padding: 0;
}
.misspellings li{
    list-style: none;
    display: block;
    text-transform: capitalize;
    float: left;
}
.misspellings li span{
    font-weight: bold;
    border-bottom: 2px solid #e8dc22;
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
    width: 25px;
    text-align: center;
    color: #414141;
}
.prime-btn{
    display: inline-block;
    padding: 5px 15px;
    background: #e8dc22;
    color: #414141;
    border: 4px solid #4d519c;
    cursor: pointer
}
.prime-btn:hover{
    background: #4d519c;
    color: #fff;
}

.highlightblue{
    background-color: aliceblue;
    padding: 5px;
}


@media (max-width: 767px) {
    .well{min-height: 300px;padding: 50px 15px;}
    .ar-c{text-align: center;}
    .al-c{text-align: center;}
    .app-links a{width: 96%;}
    .wd-lst div{min-height: 0}
    .ut-y{min-height: 0}
    .ctble tr{display: inline-grid;width: 100%;}
    .misspellings li{width: 100%;}
    .of-x-s{overflow-x: scroll;}
}
@media (min-width: 768px) {
    .well{min-height: 250px;padding: 150px 15px;}
    .ar-c{text-align: right;}
    .al-c{text-align: left;}
    .app-links a{width: 48%;}
    .wd-lst div{min-height: 103px}
    .ut-y{min-height: 200px}
    .ctble tr{display: table-row;width: 100%;}
    .misspellings li{width: 50%;}
    .of-x-s{overflow-x: auto;}
}
@media (min-width: 992px) {
    .well{min-height: 250px;padding: 150px 15px;}
    .ar-c{text-align: right;}
    .al-c{text-align: left;}
    .app-links a{width: 48%;}
    .wd-lst div{min-height: 103px}
    .ut-y{min-height: 200px}
    .ctble tr{display: table-row;width: 100%;}
    .misspellings li{width: 50%;}
    .of-x-s{overflow-x: auto;}
}
@media (min-width: 1200px) {
    .well{min-height: 250px;padding: 150px 15px;}
    .ar-c{text-align: right;}
    .al-c{text-align: left;}
    .app-links a{width: 48%;}
    .wd-lst div{min-height: 103px}
    .ut-y{min-height: 200px}
    .ctble tr{display: table-row;width: 100%;}
    .misspellings li{width: 50%;}
    .of-x-s{overflow-x: auto;}
}
